body {
    margin: 0;
    padding: 0 auto;
    text-align: center;
    z-index:1;/*描画を一番下に*/
}

section {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family:fantasy
}

#ans-btn {
    display: flex;
    justify-content: center;
    z-index:1;/*描画を一番下に*/
}

#ans-btn button {
    width: 20px;
    height: 400px;
    font-size: 60px;
    margin: 20px;
    color:rgb(94, 255, 0);

}

body{
	animation: bgchange 1.5s ease infinite;/*変化の時間を変更したい場合は20sの部分を好きな時間に変更*/
}

@keyframes bgchange{
      0%   {background:#ff2a00;}/*変化させたい色*/
      25%  {background:#ffff00;}/*変化させたい色*/
      50%  {background:#0cf100;}/*変化させたい色*/
      75%  {background:#00ffe1;}/*変化させたい色*/
      90%  {background:#4400ff;}/*変化させたい色*/
      100% {background:#ff00aa;}/*変化させたい色*/
 }

 html,body{
	height: 100%;/*高さを100%にして描画エリアをとる*/
}

#particles-js{ 
	position:fixed;/*描画固定*/
	z-index: 1;/*描画を一番下に*/
	width: 100%;
	height: 100%;
	background-color:#fbf7fc;/*背景色*/
}

#wrapper{
	position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
	z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
	width:100%;
	height: 100%;
}
